@model Ferreteria.Models.Detalle_Factura

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Detalle_Factura</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodDetalleFactura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodDetalleFactura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreProducto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreProducto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioUnitario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioUnitario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Factura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Factura.Cliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Producto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Producto.Nombre)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
