@model Ferreteria.Models.OrdenCompra

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>OrdenCompra</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodOrdenCompra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodOrdenCompra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaPedOrdCom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaPedOrdCom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaEntOrdCom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaEntOrdCom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProveedorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Proveedor.Nit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Proveedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Proveedor.Nombre)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
