@model IEnumerable<Ferreteria.Models.OrdenCompra>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodOrdenCompra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaPedOrdCom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaEntOrdCom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProveedorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreProveedor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodOrdenCompra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaPedOrdCom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaEntOrdCom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Proveedor.Nit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Proveedor.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
